- name: "creating repo"
  block:
    - name: "Creating repo on bitbucket for {{ item.value.repo_name }}"
      uri:
        url: "{{ bitbucket_api_url }}/2.0/repositories/{{ item.value.workspace }}/{{ item.value.repo_name }}"
        user: "{{ bitbucket_repo_user }}"
        password: "{{ bitbucket_password }}"
        method: POST
        headers:
          Content-Type: "application/json"
        body_format: json
        body: "{\"name\":\"{{ item.value.repo_name }}\",\"is_private\":\"{{ item.value.repo_name }}\",\"scm\":\"{{ item.value.scm }}\",\"project\":{\"key\":\"{{ item.value.project }}\"}}"
        status_code: 200,201
      register: create_repository_response
      changed_when: create_repository_response.status in [201]
      #byxussof Crear un tratamiento de salida de errores para cuando el repo ya exista
#      ignore_errors: true
      #failed_when: create_repository_response.status == 400  and create_repository_response.json.error.message != "error code 400 and error trace Repository with this Slug and Owner already exists."
      failed_when: create_repository_response.status == 400 and create_repository_response.json.error.message != "Repository with this Slug and Owner already exists."
#    - name: "reporting..."
#      debug:
#        msg: "{{ create_destroy }} repo for {{ app_name }}-infra with http code {{ create_repository_response.status }}, url {{ bitbucket_https_url }}/odigeoteam/{{ app_name }}-infra"
#      when: create_repository_response is success



  rescue:
    - name: "reporting error"
      debug:
        msg: "error code {{ create_repository_response.status  }} and error trace {{ create_repository_response.json.error.message }}"
  always:
    - name: "reporting..."
      debug:
        msg: "creation repo repo4 with http code {{ create_repository_response.status }}, url {{ bitbucket_api_url }}/{{ item.value.workspace }}/{{ item.value.repo_name }}"
      when: create_repository_response is success

#- name: This repo already exists, Creating return var
#  set_fact:
#    repo_created: created
#  when: create_repository_response.status == 400 and (create_repository_response.content|from_json)['error']['message']  == "Repository with this Slug and Owner already exists."

#- include_vars: autogenerated.yml

#byxussofhand hacerlo automatico. Inicializar el repo desde la api rest o bien crear el readme tambien mediante la api rest
#- name: Workaround create by hand the first readme
#  pause:
#    prompt: "Go to 'https://bitbucket.org/odigeoteam/{{ app_id }}-infra/src' and create a readme by hand, next press enter"

#- name: Cloning newly created repo
#  include_role:
#    name: common/git-tasks/git-clone-repos

#- name: Sync infra-template to {{ bitbucket_odigeoteam }}/{{ app_name }}-infra locally
#  synchronize:
#    src: "/{{ host_root_dir }}/{{ repos_dir }}/{{ bitbucket_git_name }}/{{ odigeoteam_infratemplate }}/"
#    dest: "/{{ host_root_dir }}/{{ repos_dir }}/{{ bitbucket_git_name }}/odigeoteam/{{ app_name }}-infra"
#    rsync_opts: --exclude=.git

#- name: Sync live-template to {{ bitbucket_odigeoteam }}/{{ app_name }}-live locally
#  synchronize:
#    src: "/{{ host_root_dir }}/{{ repos_dir }}/{{ bitbucket_git_name }}/{{ odigeoteam_livetemplate }}/"
#    dest: "/{{ host_root_dir }}/{{ repos_dir }}/{{ bitbucket_git_name }}/odigeoteam/{{ app_name }}-live"
#    rsync_opts: --exclude=.git
